@keyframes slide {
  from { left: 0; }
  to { left: 50%; }
	25%{
		width: 115px;
		height: 115px;
	}
	50%{
		width: 130px;
		height: 130px;
	}
	75%{
		width: 115px;
		height: 115px;
	}
}

div {
  width: 100px;
  height: 100px;
	padding: 10%;
  position: relative;
  animation: slide 2s ease-in-out 0s infinite alternate;
}